/*
 * Copyright (c) 2024 Takayuki Goto <tkg.develop@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
};

&lsm303agr_magn {
    status = "okay";
};

&mma8653fc {
    status = "disabled";
};

&lsm303agr_accel {
    status = "okay";
};
